.App {
  padding-top: 20px;
  text-align: center;
}

body {
  background: rgb(20,108,2);
  background: linear-gradient(90deg, rgba(20,108,2,1) 0%, 
              rgba(233,240,37,1) 52%, rgba(20,108,2,1) 100%);
}

button {
  margin-left: 5px;
  margin-top:'5px';
  background-color: #01250c;
  border-radius: 12px;
  color: rgb(250, 245, 245);
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 10%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

form input {
  background-color: #023a12;
  border-radius: 12px;
  color: rgb(250, 245, 245);
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 10%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#weather {
  padding: 10px;
  margin:auto;
  margin-top: 30px;
  width: 600px;
  border: 1px solid black ;
}

#weatherData {
  text-align: center;
  align-items: center;
}

.weatherParam {
  display: inline-block;
  width: 170px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
